<div id="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-offset-1">
            <%- include('../partials/messages') %>
            <div class="block">
                <div class="block-title">
                    <h2><i class="fa fa-money"></i> Dư nợ</h2>
                </div>
                <div class="block-section text-center">
                    <h3>
                        <strong><%= patient.name %></strong><br><small></small>
                        </a>
                    </h3>
                </div>
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>
                    <tr>
                        <td class="text-right" style="width: 50%"><strong>Hạn mức tối đa</strong></td>
                        <td><%= patient.credit %> VND</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Dư nợ hiện tại</strong></td>
                        <td><%= patient.debt %> VND</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Thanh toán tối thiểu</strong></td>
                        <td><%= patient.payment_min %> VND</td>
                    </tr>
                    </tbody>
                </table>
                <div class="block-section text-center">
                    <h3>
                        <a href="/users/payment" class="btn btn-primary">
                            Thanh toán khoản nợ<br><small></small>
                        </a>
                    </h3>
                </div>
            </div>
            <%- include('../patients/detail-payment-history', { transaction_histories: patient.transaction_histories }); %>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/patients/patient-detail.js"></script>