<div id="page-content">
    <div class="row justify-content-center">
        <%- include('../partials/messages') %>
        <div class="col-sm-10 col-lg-offset-1">
            <div class="block">
                <div class="block-title">
                    <h2><i class="fa fa-history"></i> <strong>Lịch sử thông báo </strong>(<%= notifications?.length %>)</h2>
                </div>
                <% if(notifications?.length) { %>
                    <table id="detail-buy-history" class="table table-bordered table-striped table-vcenter">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 70px;">Mã</th>
                            <th class="hidden-xs text-center">Thông báo</th>
                            <th class="hidden-xs text-center">Ngày thông báo</th>
                            <th class="hidden-xs text-center">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% notifications.forEach((notification) => { %>
                            <tr>
                                <td class="hidden-xs text-center"><%= notification.id %></td>
                                <td class="hidden-xs text-center"><%= notification.description %></td>
                                <td class="hidden-xs text-center"><%= moment(notification.created_date).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY, hh:mm:ss') %></td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a data-toggle="tooltip" title="Thanh toán"
                                           href="/users/payment"  class="btn btn-success">
                                            <i class="fa fa-file"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                <% } else { %>
                    <div class="alert alert-info">
                        <h4><i class="fa fa-info-circle"></i>Không có thông báo nào.</h4>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/patients/patient-detail.js"></script>

